.button, button {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #e0752f;
    border-radius: 25px;
    font-size: 1rem;
    padding: 6px 15px;
    border-color: transparent;
}

.button, button {
    width: 144px;
    height: 48px;
}

.button [type=submit] {
    padding-top: 10px;
}