@import "./variables";

//---------------------
//Mobile
//---------------------
@include mq(mobile, mobile-max) {
    .button {
        padding: 3px 10px;
        border-color: transparent;
    }

    header {
        // position: absolute;
        z-index: 1000;
        width: 100%;
    }

    header .container{
        position: relative;
        z-index: 10;
    }

    header .container-active {
        display: flex;
        width: 100%;
        position: fixed;
        border-bottom: 1px solid #e0752f;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #e0752f;
    }

    .container.container-active{
        z-index: 10;
    }

    header nav a{
        color: #dce1da;
    }

    header img{
        padding-left: 1.2vw;
    }
    
    .links{
        position: absolute;
        top: -1000px;
        left: -2000px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transition: all .4s ease;
    }

    .links.active {
        width: 100%;
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        a{  
            display: block;
            color: $color-white;
            font-size: 2rem;
            margin-top: 1rem;
        }
    }

    .initial.active{
        position: absolute;
        background-color: $color-black;
        top: -1000px;
        left: -1000px;
        z-index: 9;
        transition: all .4s ease;
        &.active{
            position: fixed;
            border-radius: 0 0 80% 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .hero {
        position: relative;
        z-index: -2;
        display: flex;
        flex-direction: row;
        background-image: url("../img/slider-1-phone.jpg");
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        color: white;
        padding-top: 10em;
        padding-left: 2em;
    }

    .hero p{
        padding: 0 30px;
    }

    .hero .slider-nav li{
        display: inline;
        font-size: 0;
    }

    .hero .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero h1{
        color: $color-black;
        font-size: 20px;
        font-weight: 700;
        text-shadow: 2px 2px 1px $color-white;
    }

    .hero p{
        color: $color-black;
        font-size: 12px;
        font-weight: 500;
        text-shadow: 1.8px 2px 1px $color-white;
    }

    .about {
        height: 100vh;
        min-height: 160px;
    }

    .about h1{
        font-size: 18px;
    }

    .about p{
        font-size: 10px
    }
    .about-content {
        border-left: 15px solid $color-primary;
        padding-left: 15vw;
        padding-right: 35px;
    }

    .products {
        height: 100vh;
        min-height: 160px;
        position: relative;
        z-index: -1;
    }

    .products__content{
        background-image: url("../img/section3-image-phone.jpg");
    }

    .products__cards{
        width: 45vw;
        height: 32vh;
        padding: 20px;
    }

    .products__cards{
    h3{
        font-size: 11px;
    }
    h2{
        font-size: 23px;
        font-weight: 700;
    }
    p{
        font-size: 11px;
    }
    }

    .products__cards img{
        position: relative;
        left: 23vw;
        padding: 0 5px;
    }


    .services {
        height: 100vh;
        background-image: url("../img/section4-phone.jpg");
        min-height: auto;
        max-height: 768px;
    }

    .accordion{
        width: 250px;
    }

    .services {
        position: relative;
    }

    .services .accordion .accordion-body {
        padding: 10px;
        font-size: 11px;
    }

    .services .accordion .accordion-button {
        color: $font-color;
        z-index: 0;
    }

    .card {
            background-color: #e0752f;
            position: relative;
            right: 0;
            bottom: 0;
            width: 117px;
            height: 304px;
            padding: 76px;
            color: #ffffff;
    }

    .accordion-button {
        color: #5F6368;
    }

    .accordion-body {
        color: #5F6368;
    }

    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .contact {
        height: 100vh;
        min-height: 160px;
    }

    .contact {
        background: linear-gradient(90deg, #f2f4f1 80%, #dce1da 20%);
        padding: 150px 0;
    }

    .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-gray;
    border-radius: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

    .contact h3 {
        font-size: 39px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 50px;
    }

    .contact span {
        color: #e0752f;
    }

    .col-lg-7, col-md-12{
        display: none;
    }

    .button {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .row {
        align-items: center;
    }

    .form-group {
        margin-bottom: 40px;
    }

    input,textarea {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #dce1da;
        border-radius: 0;
        color: black;
        padding: 25px 0;
    }

    input,textarea::placeholder {
        color: black;
    }

    input,textarea:focus{
        background-color: transparent;
        border-bottom-color: #e0752f;
        box-shadow: none;
    }
}






//---------------------
//Tablet
//---------------------

@include mq(tablet, tablet-max) {
.button {
    padding: 7px 20px;
    border-color: transparent;
}

header {
    // position: absolute;
    z-index: 1000;
    width: 100%;
}

header .container{
    position: relative;
    z-index: 10;
}

header .container-active {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #e0752f;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e0752f;
}

.container.container-active{
    z-index: 10;
}

header nav a{
    color: #dce1da;
}

header img{
    padding-left: 1.2vw;
}

.hero {
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: row;
    background-image: url("../img/slider-1-phone.jpg");
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    color: white;
    padding-top: 10em;
    padding-left: 2em;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1{
    color: $color-black;
    font-size: 26px;
    font-weight: 700;
    text-shadow: 2px 2px 1px white;
}

.hero p{
    color: $color-black;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1.8px 2px 1px white;
    
}

.hero .slider-nav li{
    display: inline;
    font-size: 0;
}

.links{
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.links.active {
    width: 100%;
    z-index: 2;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    a{
        display: block;
        color: $color-white;
        font-size: 2rem;
        margin-top: 1rem;
    }
}

.initial.active{
    position: absolute;
    background-color: $color-black;
    top: -700px;
    left: -1000px;
    z-index: 9;
    transition: all .4s ease;
    &.active{
        position: fixed;
        border-radius: 0 0 80% 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.about {
    height: 100vh;
    min-height: 800px;
}

.about-content {
    border-left: 26px solid $color-primary;
    padding-left: 120px;
}

.products {
    height: 100vh;
    min-height: 800px;
    position: relative;
    z-index: -1;
}

.products__content{
    background-image: url("../img/section3-image-phone.jpg");
}

.products__cards{
    width: 45vw;
    height: 37.5vh;
    padding: 20px;
}

.products__cards img{
    position: relative;
    left: 29vw;
    padding: 0 5px;
}

.services {
    height: 100vh;
    min-height: auto;
    max-height: 768px;
    position: relative;
}

.card {
        background-color: #e0752f;
        position: relative;
        right: 0;
        bottom: 0;
        width: 470px;
        height: 304px;
        padding: 50px;
        color: #ffffff;
}

.accordion-button {
    color: #5F6368;
}

.accordion-body {
    color: #5F6368;
}

.services .accordion .accordion-button {
    color: $font-color;
    z-index: 0;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.contact {
    height: 100vh;
    min-height: 800px;
}

#contact .container{
    flex-wrap: nowrap;
}

.contact {
    background: linear-gradient(90deg, #f2f4f1 80%, #dce1da 20%);
    padding: 150px 0;
}

.contact h3 {
    font-size: 39px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 50px;
}

.contact span {
    color: #e0752f;
}

.button {
    width: 144px;
    height: 48px;
}

.row {
    align-items: center;
}

.form-group {
    margin-bottom: 40px;
}

.form-control{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-gray;
    border-radius: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

input,textarea::placeholder {
    color: black;
}

input,textarea:focus{
    background-color: transparent;
    border-bottom-color: #e0752f;
    box-shadow: none;
}
}




//---------------------
//Desktop
//---------------------
@include mq(desktop, desktop-max) {
    .button {
        padding: 10px 25px;
        border-color: transparent;
    }

    header {
        position: absolute;
        z-index: 1000;
        width: 100%;
    }
    header .container {
        position: fixed;
        border-bottom: 1px solid #e0752f;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding: 38px 16px;
    }

    header .container-active{
        display: flex;
        width: 100%;
        height: 85px;
        position: fixed;
        border-bottom: 1px solid #e0752f;
        flex-direction: row;
        align-items: center;  
        justify-content: space-between;
        background-color: #e0752f;
        padding: 38px 16px;
    }

    header nav a{
        color: #dce1da;
    }

    header nav{
        /* position: fixed; */
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        background-color: transparent;
    }

    div .nav-icon-5{
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        color: white;
        padding-top: 10em;
        padding-left: 2em;
    }

    .hero .slider-nav li{
        display: inline;
        font-size: 0;
    }

    .hero .container{
        padding-left: 73px;
    }

    .hero h1{
        text-shadow: 2px 2px 1px $color-black;
    }

    .hero p{
        text-shadow: 1.8px 2px 1px $color-black;
    }

    .about {
        height: 100vh;
        min-height: 800px;
    }

    .products {
        height: 100vh;
        min-height: 800px;
    }

    .services {
        height: 100vh;
        min-height: auto;
        max-height: 768px;
    }
    .card {
            background-color: #e0752f;
            position: relative;
            right: 0;
            bottom: 0;
            width: 470px;
            height: 304px;
            padding: 50px;
            color: #ffffff;
    }

    .accordion-button {
        color: #5F6368;
    }

    .accordion-body {
        color: #5F6368;
    }

    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    

    .contact {
        height: 100vh;
        min-height: 800px;
    }

    .contact {
        background: linear-gradient(90deg, #f2f4f1 80%, #dce1da 20%);
        padding: 150px 0;
    }

    .contact h3 {
        font-size: 39px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 50px;
    }

    .contact span {
        color: #e0752f;
    }

    .button {
        width: 144px;
        height: 48px;
    }

    .row {
        align-items: center;
    }

    .form-group {
        margin-bottom: 40px;
    }

    input,textarea {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #dce1da;
        border-radius: 0;
        color: black;
        padding: 25px 0;
    }

    .form-control{
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $color-gray;
        border-radius: 0px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input,textarea::placeholder {
        color: black;
    }

    input,textarea:focus{
        background-color: transparent;
        border-bottom-color: #e0752f;
        box-shadow: none;
    }
}

//--------------------------------------------------------
//Xlarge view
//--------------------------------------------------------

@include mq(xlarge, xlarge-max) {
    .button {
        padding: 10px 25px;
        border-color: transparent;
    }

    header {
        position: absolute;
        z-index: 1000;
        width: 100%;
    }
    header .container {
        position: fixed;
        border-bottom: 2px solid #e0752f;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding: 40px 18px;
    }

    header .container-active{
        display: flex;
        width: 100%;
        height: 90px;
        position: fixed;
        border-bottom: 1px solid #e0752f;
        flex-direction: row;
        align-items: center;  
        justify-content: space-between;
        background-color: #e0752f;
        padding: 38px 16px;
    }

    header nav a{
        color: #dce1da;
    }

    header nav{
        /* position: fixed; */
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
        background-color: transparent;
    }

    div .nav-icon-5{
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        color: white;
        padding-top: 10em;
        padding-left: 2em;
    }

    .hero .container{
        padding-left: 73px;
    }

    .hero .slider-nav li{
        display: inline;
        font-size: 0;
    }

    .hero h1{
        font-size: 50px;
        text-shadow: 2px 2px 1px $color-black;
    }

    .hero p{
        font-size: 22px;
        text-shadow: 1.8px 2px 1px $color-black;
    }

    .about {
        height: 100vh;
        min-height: 800px;
    }

    .products {
        height: 100vh;
        min-height: 800px;
    }

    .services {
        height: 100vh;
        min-height: auto;
        max-height: 768px;
    }
    .card {
            background-color: #e0752f;
            position: relative;
            right: 0;
            bottom: 0;
            width: 470px;
            height: 304px;
            padding: 50px;
            color: #ffffff;
    }

    .accordion-button {
        color: #5F6368;
    }

    .accordion-body {
        color: #5F6368;
    }

    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    
    .contact {
        height: 100vh;
        min-height: 800px;
    }

    .contact {
        background: linear-gradient(90deg, #f2f4f1 80%, #dce1da 20%);
        padding: 150px 0;
    }

    .contact h3 {
        font-size: 39px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 50px;
    }

    .contact span {
        color: #e0752f;
    }

    .button {
        width: 150px;
        height: 52px;
        font-size: 18px;
    }

    .row {
        align-items: center;
    }

    .form-group {
        margin-bottom: 40px;
    }

    input,textarea {
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #dce1da;
        border-radius: 0;
        color: black;
        padding: 25px 0;
    }

    .form-control{
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $color-gray;
        border-radius: 0px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input,textarea::placeholder {
        color: black;
    }

    input,textarea:focus{
        background-color: transparent;
        border-bottom-color: #e0752f;
        box-shadow: none;
    }
}

/* Mediaquerie que sirve para impedir que la imagen de la section contacto 
se situe debajo del formulario, haciendola desaparecer cuando se llega al width
medido en px en el que cambia de posición, el cual es 991px. */

@include mq(mobile, contact-max) {
    .d-block.w-100.contact-image{
        display: none !important; 
    }
}

