// --Fuentes--
$font-primary: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-lighter: 300;

// --Colores--
$color-primary: #e0752f;
$color-white: #FFFFFF;
$color-black: #343434;
$font-color: #5F6368;
$border-gray: #E3E3E3;
$accordion-font-color: #F8F8F8;
$color-gray: #dce1da;
$color-lighter-gray: #F2F4F1;

// Variables para responsive design
$breakpoints: (
    mobile: 0px,
    tablet: 568px,
    desktop: 1024px,
    xlarge: 1440px
);

$breakpoints-max: (
    mobile-max: 568px,
    tablet-max: 1024px,
    desktop-max: 1440px
);