.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("../../assets/img/slider-1.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero .container{
    padding-left: 73px;
}

.hero .container .button{
    margin-top: 20px;
}

.hero h1{
    color: $color-gray;
}

.hero p{
    color: $color-gray;
}

.slider-nav {
    display: none;
}